---
import HeaderInfo from "./HeaderInfo.astro";
import HeaderMedia from "./HeaderMedia.astro";
---

<header id="header" class="md:h-[calc(100vh-100px)] overflow-hidden relative">
    <div class="container pt-10 md:pt-0 h-full flex flex-col md:flex-row items-center gap-4">
        <HeaderInfo/>
        <HeaderMedia/>
    </div>
    <div id="main-decor"
         class="md:h-full aspect-square bg-primary/40 rounded-[10%] rotate-45 scale-150 absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 -z-[1]"/>
</header>