---
import { t } from "i18next";
---
<div class="md:w-3/4  flex flex-col gap-4">
  <h2 id="header-subtitle" class="text-primary text-xl ">
    +998-712001151
    +998-622277676
  </h2>
  <h1 id="header-title" class="text-4xl md:text-7xl font-black leading-tight">
    {t("header.title")}
  </h1>
  <p id="header-desc" class="opacity-50 font-medium">
    {t("header.description")}
  </p>
  <div class="mt-4 flex gap-4">
    <button id="header-btn-secondary"
            class="bg-primary text-white font-bold inline-flex items-center gap-2 hover:bg-primary/80 px-2 sm:px-4 py-2 md:px-8 md:py-4 rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
      </svg>
      {t("watchVideo")}
    </button>
  </div>
</div>

<script>
  import { gsap } from "../../utils/gsap";

  const timeline = gsap.timeline({
    scrollTrigger: "#header",
    start: "top top",
    end: "+=500",
    scrub: 1,
    defaults: {
      scale: 0.8,
      opacity: 0,
      transformOrigin: "left",
      duration: 1,
      ease: "power2.out"
    }
  });
  const start = 0.5;
  const startMultiplier = 1.5;

  timeline
    .from("#header-subtitle", {
      y: -50,
      rotation: -5
    })
    .from("#header-title", {
      y: -50,
      rotation: 5
    }, start - 0.3)
    .from("#header-desc", {
      y: -50,
      rotation: -5
    }, start * startMultiplier)
    .from("#header-btn-primary", {
      transformOrigin: "center",
      y: 50,
      rotation: 5
    }, start)
    .from("#header-btn-secondary", {
      transformOrigin: "center",
      y: 50,
      rotation: -5
    }, start * startMultiplier);

</script>
