<section id="partners" class="py-8">
  <div class="overflow-hidden wrapper">
    <div class="flex gap-4 whitespace-nowrap" data-gsap="marquee-container">
      <div data-gsap="marquee" class="flex gap-4">
        {Array.from(new Array(5).keys()).map((_, i) => (
          <div data-gsap="marquee-item"
               class="min-w-[200px] grow py-4 text-xl px-4 rounded-md border border-black/10 box">
            {i + 1} Partner
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<script>

</script>
