<div class="h-screen flex items-center">
    <h1 class="text-7xl" id="animateMe">Animated</h1>
</div>

<script>
    import {viewObserver} from "../../utils";

    const h1 = document.getElementById("animateMe");
    viewObserver.observe(h1)
</script>