---
import ShieldCheck from "astro-heroicons/outline/ShieldCheck.astro";
import Bolt from "astro-heroicons/outline/Bolt.astro";
import Cube from "astro-heroicons/outline/Cube.astro";
import ArrowUp from "astro-heroicons/outline/ArrowTrendingUp.astro";
import GlobeAlt from "astro-heroicons/outline/GlobeAlt.astro";
import ChartBar from "astro-heroicons/outline/ChartBar.astro";
---
<section id="features" class="container py-12">
  <h2 class="text-center text-3xl md:text-6xl font-semibold">Imkoniyatlar</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 my-12">
    <div class="p-10 border shadow-lg rounded-lg flex flex-col items-start gap-4">
      <div class="w-full grid place-items-center rounded-lg">
        <ShieldCheck class="text-primary size-32" />
      </div>
      <div class="flex-1 flex flex-col items-center gap-8">
        <strong class="text-center text-3xl">Xavfsizlik</strong>
        <p class="text-center">Face ID texnologiyasi bilan sizning xavfsizligingiz maksimal darajada ta'minlanadi.
          Biometrik xususiyatlar
          boshqa shaxsga o'tkazilmaydi, bu esa ruxsatsiz kirishni imkonsiz qiladi. Ma'lumotlar bazasida bo'lmagan
          shaxslar himoyalangan hududga kira olmaydi, bu esa kirishni boshqarishni yanada samarali qiladi.</p>
      </div>
    </div>
    <div class="p-10 border shadow-lg rounded-lg flex flex-col items-start gap-4">
      <div class="w-full grid place-items-center rounded-lg">
        <Bolt class="text-primary size-32" />
      </div>
      <div class="flex-1 flex flex-col items-center gap-8">
        <strong class="text-center text-3xl">Tezlik va Qulaylik</strong>
        <p class="text-center">Yuzni aniqlash jarayoni bir soniyadan kam vaqt oladi, bu esa kirish jarayonini tez va
          samarali qiladi. Xodimlar uchun kirish kartalarini yoki parollarini topish zaruriyati yo'q. Yuzingizni
          terminalga qaratsangiz kifoya, va tizim sizni aniqlab, darhol kirishga ruxsat beradi.</p>
      </div>
    </div>
    <div class="p-10 border shadow-lg rounded-lg flex flex-col items-start gap-4">
      <div class="w-full grid place-items-center rounded-lg">
        <Cube class="text-primary size-32" />
      </div>
      <div class="flex-1 flex flex-col items-center gap-8">
        <strong class="text-center text-3xl">Oson O'rnatish</strong>
        <p class="text-center">Ko'pgina zamonaviy texnologiyalar kabi, Face ID tizimlarini o'rnatish ham juda oson va
          tez amalga oshiriladi. Bu texnologiya ko'p vaqt talab qilmaydi va an'anaviy boshqaruv tizimlarini o'rnatishdan
          sezilarli farq qilmaydi. Shu sababli, korxonalaringizda Face ID texnologiyasini joriy etish juda qulaydir.</p>
      </div>
    </div>
    <div class="p-10 border shadow-lg rounded-lg flex flex-col items-start gap-4">
      <div class="w-full grid place-items-center rounded-lg">
        <ArrowUp class="text-primary size-32" />
      </div>
      <div class="flex-1 flex flex-col items-center gap-8">
        <strong class="text-center text-3xl">Ish Samaradorligini Oshirish</strong>
        <p class="text-center">Face ID texnologiyasi yordamida korxonangizda vaqtni tejashingiz mumkin. Kirish kartalari
          yoki parollari bilan bog'liq muammolarni unutishingiz mumkin. Shaxsiy identifikatsiya bir soniyada amalga
          oshiriladi, bu esa navbatlarni kamaytirib, ish jarayonini sezilarli darajada tezlashtiradi.</p>
      </div>
    </div>
    <div class="p-10 border shadow-lg rounded-lg flex flex-col items-start gap-4">
      <div class="w-full grid place-items-center rounded-lg">
        <GlobeAlt class="text-primary size-32" />
      </div>
      <div class="flex-1 flex flex-col items-center gap-8">
        <strong class="text-center text-3xl">Keng Qamrovli Qo'llanilishi</strong>
        <p class="text-center">Face ID texnologiyasi nafaqat kirish boshqaruvi, balki boshqa ko'plab sohalarda ham
          qo'llanilishi mumkin. Masalan, xodimlarning ish vaqtini nazorat qilish, maxsus ruxsatnoma talab qilinadigan
          hududlarga kirishni boshqarish va boshqa ko'plab amaliyotlar. Bu texnologiya bilan siz korxonalaringiz
          xavfsizligi va samaradorligini yangi darajaga olib chiqishingiz mumkin.</p>
      </div>
    </div>
    <div class="p-10 border shadow-lg rounded-lg flex flex-col items-start gap-4">
      <div class="w-full grid place-items-center rounded-lg">
        <ChartBar class="text-primary size-32" />
      </div>
      <div class="flex-1 flex flex-col items-center gap-8">
        <strong class="text-center text-3xl">Monitoring va Hisobot</strong>
        <p class="text-center">Face ID tizimlari xodimlar kirish va chiqish vaqtlarini avtomatik ravishda qayd etadi. Bu ma'lumotlar real vaqt rejimida monitoring qilinishi va hisobotlar shaklida taqdim etilishi mumkin. Bu esa menejmentga xodimlarning ish vaqti va faoliyati haqida aniq ma'lumot olish imkonini beradi.</p>
      </div>
    </div>
  </div>
</section>