<header id="header" class="container my-12 md:h-[calc(100vh-100px)]">
  <div class="flex flex-col md:flex-row items-center gap-12">
    <div class="space-y-6 md:w-1/2 flex-1">
      <h1 class="text-4xl md:text-7xl font-black leading-tight">
        Face ID
      </h1>
      <p class="">
        Face ID - shaxsiy identifikatsiya qilishning eng zamonaviy va qulay usullaridan biri. Bu korxona xodimlariga
        ma'lum bir hududga kirishga ruxsat berilgan shaxsni tanib olish imkonini beradi va ma'lumotlar bazasida
        bo'lmagan kishining korxonangizga kirishiga yo'l qo'ymaydi. Ushbu texnologiya himoyalangan hududning
        xavfsizligini ta'minlashda barcha tomonlarning qulayligini ta'minlashga yordam beradi.
      </p>
      <button class="px-8 py-4 bg-primary text-white font-bold text-lg rounded-md">
        Buyurtma berish
      </button>
    </div>
    <div class="flex-1 md:w-1/2 aspect-square overflow-hidden rounded-full border-8 border-primary/30">
      <img src="/img.png" class="w-full h-full object-cover scale-105 object-left" alt="Face ID" />
    </div>
  </div>
</header>