---
import Check from "astro-heroicons/solid/Check.astro";
---
<section id="solutions" class="container py-12">
  <h2 class="text-center text-3xl md:text-6xl font-semibold">Yechimlar</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 my-12">
    <div class="p-8 border shadow-lg rounded-lg flex gap-4">
      <div class="bg-primary/10 aspect-square h-full grid place-items-center rounded-lg">
        <Check class="size-8 text-primary" />
      </div>
      <strong>Yuzni tanishdan foydalangan holda hududga kirish</strong>
    </div>
    <div class="p-8 border shadow-lg rounded-lg flex gap-4">
      <div class="bg-primary/10 aspect-square h-full grid place-items-center rounded-lg">
        <Check class="size-8 text-primary" />
      </div>
      <strong>Avtomatlashtirilgan ish joyidan kirish huquqlarini boshqarish</strong>
    </div>
    <div class="p-8 border shadow-lg rounded-lg flex gap-4">
      <div class="bg-primary/10 aspect-square h-full grid place-items-center rounded-lg">
        <Check class="size-8 text-primary" />
      </div>
      <strong>SMS va elektron pochta xabarlarini sozlash</strong>
    </div>
    <div class="p-8 border shadow-lg rounded-lg flex gap-4">
      <div class="bg-primary/10 aspect-square h-full grid place-items-center rounded-lg">
        <Check class="size-8 text-primary" />
      </div>
      <strong>Hisobotlar, shu jumladan ish vaqtini kuzatish</strong>
    </div>
    <div class="p-8 border shadow-lg rounded-lg flex gap-4">
      <div class="bg-primary/10 aspect-square h-full grid place-items-center rounded-lg">
        <Check class="size-8 text-primary" />
      </div>
      <strong>Uchinchi tomonning avtomatlashtirilgan boshqaruvi</strong>
    </div>
    <div class="p-8 border shadow-lg rounded-lg flex gap-4">
      <div class="bg-primary/10 aspect-square h-full grid place-items-center rounded-lg">
        <Check class="size-8 text-primary" />
      </div>
      <strong>Xavfsizlik tizimi</strong>
    </div>
  </div>
</section>