---
import "./style.css";
import i18next, { t, changeLanguage } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/footer/Footer.astro";
changeLanguage("uz");
---

<html lang={i18next.language}>
<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{t("site.title")}</title>
  <HeadHrefLangs />
</head>
<body class="">
<Navbar />
<slot />
<Footer />
</body>
</html>
