
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Taskie - Documentation</title>
</head>
<body>
<div class="my-12">
  <div class="prose md:prose-lg max-w-screen-lg px-4 lg:prose-xl mx-auto">
    <h1>Taskie Documentation</h1>
    <p>Taskie menejeri – Xodimlar kelib ketish vaqtini nazorat etishda samarali yechim bo’lib, bu ishni boshqarish uchun
      mo'ljallangan dasturiy yechim. Uning funksionalligi menejerga shaxsiylashtirilgan va guruhli vazifalarni
      taqsimlash,
      ularni bosqichlarga bo'lish va barcha belgilangan jarayonlarning bajarilishini nazorat qilish imkonini beradi.
      Bunday xizmatlar uzoq vaqtdan beri mashhur bo'lib kelgan, chunki ular kamroq vaqt bilan loyihalarni umumiy
      boshqarish va nazorat qilish imkonini beradi. Stollar va ofislar orasida yurishning hojati yo'q - hamma narsani
      istalgan vaqtda ekraningizda ko'rish mumkin.</p>
    <slot />
  </div>
</div>
</body>
</html>
